@tailwind base;
@tailwind components;
@tailwind utilities;


 .navbar {
  background-color: rgba(47, 47, 78, 1 );
  height: 84px;
 

}

ul {
  margin-left: 50px;
}

.nav-logo{
  color: white;
}

.navitem-list {
  color: white;
}

footer{
  
  height: 50px;
  background-color:aqua;
}

footer div {
  margin-left: 150px;
}