@tailwind base;
@tailwind components;
@tailwind utilities;


.navbar {
  background-color: rgba(47, 47, 78, 1);
  height: 84px;

}

.navbar-item {
  display: inline-flex;
  justify-content: space-around;
  color: red;
  margin-left: 59px;

}

ul {
  margin-left: 50px;
}

.nav-logo {
  color: white;
}

.navitem-list {
  color: white;
}

.search-col {
  display: flex;
  border: 1px solid #000;
  border-radius: 25px;
  padding: 10px;
  gap: 10px;
}

.search-bar {

  display: flex;
  justify-content: center;

  &:focus {
    outline: none;
  }

}

.main-news {
  margin-left: 50px;
  margin-top: 15px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.other-news {
  margin-top: 30px;

}

.first-other {
  display: inline-flex;
}

.first-pic {
  width: 200px;
  height: 750px;
  background-color: blue;
}

.line {
  margin-top: 30px;
  width: 100%;
  border: 1px solid black;
}

.feed-full-content {
  padding: 50px;
  margin-left: 2px;
}

.feed-images {
    display: flex; 
    flex-direction: column; 
    justify-content:flex-end; 
}

footer {

  height: 50px;
  background-color: aqua;
}

footer div {
  margin-left: 150px;
}