@tailwind base;
@tailwind components;
@tailwind utilities;


 .navbar {
  background-color: rgba(47, 47, 78, 1 );
  height: 84px;
  
}

.navbar-item {
  display: inline-flex;
  justify-content: space-around;
  color: red;
  margin-left: 59px;

}

ul {
  margin-left: 50px;
}

.nav-logo{
  color: white;
}

.navitem-list {
  color: white;
}

.search-col{
  display: inline-flex;
  margin-left: 80px;
  margin-top: 20px;
}

.search-bar{
  
  border: 1px solid #000;
   margin-left: 0px;
   width: 580px ; 
   display: flex ; 
   justify-content: center;
   border-radius: 25px;
   

}

.main-news{
  margin-left: 50px;
  margin-top: 15px;
  margin-right: 20px;
}

.other-news{
  margin-top: 30px;

}

.first-other{
  display: inline-flex;
}

.first-pic{
  width: 200px;
  height: 750px;
  background-color: blue;
}

footer{
  
  height: 50px;
  background-color:aqua;
}

footer div {
  margin-left: 150px;
}